body {
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_body {
  text-align: center;
  font-size:xx-large;
  font-style:italic
}
.copyright {
  position: absolute;
  bottom: 10px; 
  left: 10px; 
  font-size: 12px;
  color:aliceblue
}